{% extends 'base.html' %}

{% block title %}Timer{% endblock %}

{% block content %}
<img id="logo" src="/static/images/obot.png" alt="Logo">
<div id="countdown">∞:∞:∞:∞</div>
<!-- <div id="left-message">.....</div> -->
<div id="mascot">
    <img src="/static/images/mascot.png" alt="Mascot">
</div>
{% endblock %}

{% block scripts %}
<style>
    #left-message {
        margin-top: 10px;
        font-size: 0.8vw;
        color: #aaa;
        font-family: "Neue Machina", Arial, sans-serif;
    }

    #countdown {
        font-size: 7.5vw;
        font-weight: bold;
        color: #ffffff;
        margin-top: 4vw;
    }

    #logo {
        width: 10vw;
        margin-bottom: -5vw;
        margin-top: -10vw;
    }

    @media (max-width: 768px) {
        #logo {
            width: 20vw;
        }

        #left-message {
            font-size: 2.5vw;
        }

        #countdown {
            font-size: 12vw;
        }
    }

    @media (max-width: 480px) {
        #logo {
            width: 20vw;
        }
        
        #left-message {
            font-size: 2.5vw;
        }

        #countdown {
            font-size: 15vw;
        }
    }
</style>
<script>

    function startCountdown(targetDate) {
        const countdownElement = document.getElementById("countdown");

        function updateCountdown() {
            const now = new Date().getTime();
            const distance = targetDate - now;

            if (distance <= 0) {
                countdownElement.textContent = "00:00:00:00";
                clearInterval(countdownInterval);
            } else {
                const days = Math.floor(distance / (1000 * 60 * 60 * 24));
                const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((distance % (1000 * 60)) / 1000);

                countdownElement.textContent = `${String(days).padStart(2, "0")}:${String(hours).padStart(2, "0")}:${String(minutes).padStart(2, "0")}:${String(seconds).padStart(2, "0")}`;
            }
        }

        const countdownInterval = setInterval(updateCountdown, 1000);
        updateCountdown();
    }

    document.addEventListener("DOMContentLoaded", () => {
        const countdownTarget = new Date("2025-02-22T00:00:00Z").getTime();
        startCountdown(countdownTarget);
    });

</script>

{% endblock %}